<div class="container d-flex align-items-center mt-5">
  <form [formGroup]="formEstudiante" (ngSubmit)="submit()">
  <div class="form-group">
    <label>Nombre</label>
  <input type="text" id="nombre" formControlName="nombre" class="form-control">
  </div>
  <div class="form-group">
    <label>Edad</label>
    <input type="text" id="edad" formControlName="edad" class="form-control">
  
  </div>
  <div class="form-group">
    <label>Curso</label>
    <input type="text" id="curso" formControlName="curso" class="form-control">
  </div>
  
  </form>
<button type="submit" class="btn btn-primary">Submit</button>
</div>
    